.App {
  text-align: center;
}

#main-container {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
}

#header {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  border: border-box;
  background: rgba(41, 40, 43);
  align-content: flex-end;
}

#logo {
  color: rgb(249, 205, 54);
  font-size: 20px;
  margin-top: 25px;
}

#navbar {
  color: lightgray;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
#navbutton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  color: lightgray;
  font-size: 15px;
}
#navbutton:hover {
  color: rgb(249,205,54)
}

#hamburger {
  color: orange;
}

#centerwelcome {
  color: white;
  width: 100vw;
  height: 10vh;
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 0px;
}

#nice-to-meet {
  color: white;
  margin-top: 0px;
  font-size: 80px;
  margin-bottom: 15px;
}

#tell-me-more {
  background-color: rgb(249, 202, 25);
  color: white;
  border: none;
  height: 70px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 0px;
}

#services {
  font-size: 30px;
}

@media (min-width: 990px) {
  #header{
      background-color: transparent
  }
}